<div class="add-product">
    <h1>Add New Product</h1>
    <p class="message-p">{{addProductMessage}}</p>
    <form #addProduct="ngForm" class="common-form" (ngSubmit)="submit(addProduct.value)">
        <input type="text" class="form-input" name="name" placeholder="enter product name" ngModel>
        <input type="text" class="form-input" name="price" placeholder="enter product price" ngModel>
        <input type="text" class="form-input" name="color" placeholder="enter product color" ngModel>
        <input type="text" class="form-input" name="category" placeholder="enter product category" ngModel>

        <textarea type="text" class="form-input" name="description" placeholder="enter product description" ngModel></textarea>
        <input type="text" class="form-input" name="image" placeholder="enter product URL" ngModel>
        <button class="form-button">Add product</button>
        <button class="form-button" (click)="clearInputs()">Clear All Fields</button>
    </form>
</div>
