<div class="seller-auth">
    <!--signUp Area-->
    <div *ngIf="showLogin" class="sign-up">
        <h1>Seller SignUp form</h1>
        <form #sellerSignup="ngForm" (ngSubmit)="signup(sellerSignup.value)">
            <div class="form">
                <input type="text" name="name" placeholder="name" ngModel>
                <input type="text" name="email" placeholder="email" ngModel>
                <input type="password" name="password" placeholder="password" ngModel>
                <button>Submit</button>
                <a (click)="togglePage()">Already have a account? LOGIN HERE</a>
            </div>
        </form>
    </div>

    <!--Login Area-->
    <div *ngIf="!showLogin" class="sign-up">
        <p class="errormsg">{{authError}}</p>
        <h1>Seller login form</h1>
        <form #sellerLogin="ngForm" (ngSubmit)="login(sellerLogin.value)">
            <div class="form">
                <input type="text" name="email" placeholder="email" ngModel>
                <input type="password" name="password" placeholder="password" ngModel>
                <button>Login</button>
                <a class="auth-toggle-link"(click)="togglePage()">Dont have an account? SIGN UP HERE</a>
            </div>
        </form>
    </div>
</div>